<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800884400129-5k26ku7fepr606jr0tf50oj5skprcqm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800884400129-5k26ku7fepr606jr0tf50oj5skprcqm9</string>
	<key>API_KEY</key>
	<string>AIzaSyCjYul-zgXuRNF0fRk-ojO95qt20HHxeZc</string>
	<key>GCM_SENDER_ID</key>
	<string>800884400129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-b8692</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-b8692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800884400129:ios:feef1b37312207427d6000</string>
</dict>
</plist>